{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your Review</title>
  <link rel="stylesheet" href="{% static "reviews/styles.css" %}">
</head>
<body>
  <form action="/" method="POST">
    {% csrf_token %}
{#    {{ form }}#}
    {% for field in form %}
      <div class="form-control {% if field.errors %} errors {% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit">Send</button>
  </form>
</body>
</html>
